body{
margin:0;
display: flex;
flex-direction: column;
}
header{
   background-color:#ccc; padding: 10px;
  flex: 1;
  order: 1;
}
footer{
  width: 100%; height: 120px; background-color:#ccc;
}
#name_site{
   background-color:#ddd; padding:10px; text-align: center;
}
#image_site{
  float:left; margin-left: auto; margin-right: auto; width:100px; height:100px;
}
#menu{
  flex: 1;
  order: 2;
        width:100%;
        margin: 10px;
        padding: 10px;
        text-align: left;
        background-color: #33ADFF;
      }

nav {
  flex:3;
  order:3;
  width:100%;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
table{
  flex:2;
  order:3;
  width:100%;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-collapse: collapse;
  border: 3px solid grey;
}
th, td {
   border: 1px solid grey;
}
#form{
  flex: 5;
  order:5;
  width:100%;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
footer{
  flex:1;
  order:6;
  width:100%;
  margin: 10px;
  padding: 10px;
  background-color:#ccc; padding: 10px; max-height:120px;
  text-align: center;
}
#footer_text{
   background-color:#ddd; padding:10px; text-align: center;
}
@media screen and (min-width: 800px) {
  body{
    flex-direction: row;
  }
}
