#header_box {
	background-color: #87FA9C;
  border:  3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
}
#siteName{
   background-color:#ddd; padding:10px; text-align: center;
   flex: 80%;
   order:2;
   margin: 10px;
   border:  1px solid grey;
}
#logo{
  border:  1px solid grey;
  float:left; margin: 10px;
  flex: 20%;
  order:1;
  max-height: 100px;
  max-width: 100px;
}
#menu{
  padding: 10px;
  background-color:#cca;
  text-align: left;
  border: 3px solid grey;
  height: 100%;
}
nav{
  padding: 10px;
  column-width: 49%;
	column-count: 2;
	column-gap: 2%;
	background: #fff2e1;
  background-color:#ccc;
  border: 3px solid grey;
  width: 100%;
}
#table_conteiner{
  text-align: left;
  border-collapse: collapse;
  border: 3px solid grey;
  height: 100%;
}
table{
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
th, td {
   border: 1px solid grey;
}
#form{
  padding: 10px;
  background-color:#ccc;
  text-align: center;
  border: 3px solid grey;
}
footer{
  height: 100%;
	padding:  10px;
	text-align: center;
	background-color: #87FA9C;
  border:  3px solid black;
}
.even{
  background-color:#ccc;
}
.odd{
	  background-color: #87FA9C;
}
#footer_text{
   background-color:#ddd; padding:10px; text-align: center;
   border:  1px solid grey;
}
.form-group{
	text-align: center;
}
.form-check{
	border:  1px solid yellow;
	text-align: left;
}
@media screen and (max-width: 768px) {
	nav{
	  padding: 10px;
		column-count: 1;
		background: #fff2e1;
	  background-color:#ccc;
	  border: 3px solid grey;
	  width: 100%;
	}
}
